#image {
    width: 150px;
    float: left;
}

a {
    all: unset;
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 62, 47);
    color: white;
}

header {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    opacity: .65;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    font-style: bold;
  }
  
  header nav ul li a {
    padding: 15px 15px;
    font-size: 1.55vw;
    color: #1DB954;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: 16px;
  }

  header img {
    width: 10%;
  }

/* Songs and artist sections */

.song-container {
    display: flex;
    height: 100%;
    align-items: center;
}

#artist-picture {
    display: flex;
    justify-content: center;
}

.artist-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.songs, .albums {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.songs {
    background-color: black;
    border-radius: 15px;
    opacity: .7;
    margin-top: 20px;
}

.song-title {
    display: flex;
    color: #04AA6D;
    font-size: 23px;
}

.album-photo {
    height: 250px;
    width: 300px;
}

.band-photo {
    width: 90%;
    height: auto;
}

.artist-name{
    text-align: center;
    font-size: 60px;
    margin: 10px;
}

.latest-albums{
    text-align: center;
    font-size: 30px;
}

.album-title{
    text-align: center;
    font-size: 20px;
    width: 70%;
    padding-top: 20px;
}

.articles{
    color: #04AA6D;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    opacity: .7;
    border-bottom:3px solid #04AA6D;
}

.articles p {
    width: 100%;
    text-align: center;
    
}

@media only screen and (max-width: 1400px) {
    .main-container{
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media only screen and (max-width: 850px) {
    .song-container{
        flex-direction: column;
    }

    .artist-container {
        width: 90%;
    }
}
